h1{
    text-align: center;
}
form{
    text-align: center;
}
.but{
    text-align: center;
}
#txtConv{
    text-align: center;
    margin-left: 600px;
}
.admin{
    display: none;
}
#results{
    display: none;
}